<h1>About the Book</h1>

<p>Punk Mathematics will be a series of mathematical stories. It is written
for readers who are interested in having their minds expanded by the strange
metaphors and implications of mathematics, even if they’re not always on
friendly terms with equations. Better living through probability; the
fractal dimension of cities and cancers; using orders of magnitude to detect
bullshit; free will and quantum economics; and the mathematics of
cooperation in a networked world on the brink of a No Future collapse.</p>

<a href="http://www.kickstarter.com/projects/1541803748/punk-mathematics">See the Kickstarter pitch.</a>
