<h1>Get Involved</h1>
<p>
In punk's spirit of DIY, crossed with the game-theoretic urge to do as little work as possible, 
Punk Mathematics is generated in part by the interests and ideas of those people who sense that 
math is not just about cargo cult algorithms and grade-grovelling.
</p>

<p>
For now, only The Mathpunx (my 1001 Kickstarter backers) can contribute. (They can sign in <a href="#">here</a>.)
If you want to know when membership opens up to the general public, and get other updates as PM evolves, add
your email address here:
# form
</p>
