<h1>Punk Mathematics Online</h1>
<p>
This is the home p<span>a</span>ge. Do you want to touch it? y/n

Also, I'd like to point out that there isn't really any "real text" 
on this page, so to speak. It's lorem ipsum, or would be, if I knew Latin.
That reminds me, did you know they don't speak latin in Latin America? It 
makes you wonder.
</p>
