<!-- nav helper goes approximately here, or in layouts -->

<h1>Punk Mathematics</h1>

<p>Punk Mathematics will be a series of mathematical stories.
It is written for readers who are interested in having their
minds expanded by the strange metaphors and implications of
mathematics, even if they’re not always on friendly terms
with equations. Better living through probability; the
fractal dimension of cities and cancers; using orders of
magnitude to detect bullshit; free will and quantum
economics; and the mathematics of cooperation in a networked
world on the brink of a No Future collapse.</p>

<p>As of <%= Time.now %>, it's still being written.</p>

<p><a href="http://www.kickstarter.com/projects/1541803748/punk-mathematics">See the Kickstarter pitch.</a></p>


<h3>About the Author</h3> 

<p> Tom Henderson enjoys doing math, long walks off of short
piers, and referring to himself in the third person. You can
hear him getting excited about math on the <a
	href="http://mathforprimates.com">Math for Primates
	podcast</a> (with co-host Nick Horton), you can read his
first formulation of the punk mathematics philosophy in <a
	href="https://www.facebook.com/pages/The-Light-Fingered-Five/172284746149029">
	this interview</a> on Technoccult.net, and you can see <a
	href="http://www.kickstarter.com/projects/1541803748/punk-mathematics">his
	alarmingly successful project pitch</a> at Kickstarter.com.
</p>

<p> His credentials include a master-of-the-arts degree in
mathematical sciences from <a
	href="http://www.mth.pdx.edu/">Portland State
	University</a>, and the better part of a decade performing
improv comedy with with the <a
	href="https://www.facebook.com/pages/The-Light-Fingered-Five/172284746149029">Light-Fingered
	Five</a>.  He likes to believe the two together give him an
honorary doctorate in make-believe.  </p>
