			<article id="post-291" class="post-291 post type-post status-publish format-standard hentry category-updates">
				<header>
			<h1><a href="http://www.punkmathematics.com/rubber-teardrop-nibbled-to-death-by-ducks" title="Permalink to rubber teardrop + nibbled to death by ducks" rel="bookmark">rubber teardrop + nibbled to death by ducks</a></h1>
			<p>Spewed from the brain of <span class="author vcard"><a class="url fn n" href="http://www.punkmathematics.com/author/jeremy" title="View all posts by Tom">Tom</a></span> on <a href="http://www.punkmathematics.com/rubber-teardrop-nibbled-to-death-by-ducks" title="2:54 am" rel="bookmark"><time datetime="2011-04-14:2:54 am-08:00" pubdate="pubdate">Apr 14 2011</time></a></p>			</header>

				<p id="top" />My goal for the week was a video update, catching you guys up to speed on Phase II of the master plan. Instead it&#8217;s been a week of chaste surge protectors (don&#8217;t ask) and video clips going inexplicably green. Hideous, night-vision green.</p>
<p>While I troubleshoot this development (I&#8217;d pun off &#8216;development&#8217; but it&#8217;s video not film), check out the <a href="https://www.kickstarter.com/projects/1602255562/rubber-teardrop"><em>Rubber Teardrop</em></a> Kickstarter. It&#8217;s the latest project of Keith Schreiner (music and production for later Math for Primates episodes) and David Pennington a.k.a.  <a href="http://twitter.com/deviousgoldfish">@deviousgoldfish</a>, the director/editor/awesomifier of the Punk Mathematics video. They&#8217;ve been updating heavily and changing up rewards as time goes on. Time will go on for <em>Rubber Teardrop</em> for another 68 hours.</p>
								
				<aside class="entry-utility">
					
											Posted in <a href="http://www.punkmathematics.com/category/updates" title="View all posts in Updates" rel="category tag">Updates</a>						|
										
					
				
								<a href="http://www.punkmathematics.com/rubber-teardrop-nibbled-to-death-by-ducks#respond" title="Comment on rubber teardrop + nibbled to death by ducks">Leave a comment</a>								
								
				<iframe class="privacy-ignoring-shitheads" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.punkmathematics.com%2Frubber-teardrop-nibbled-to-death-by-ducks&amp;layout=standard&amp;show_faces=false&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</aside>
			</article>	
