<p>Spewed from the brain of 
<span class="author vcard">
<a class="url fn n" 
	href="http://www.punkmathematics.com/author/jeremy" 
	title="View all posts by Tom">Tom
</a>
</span> 
on 
<a 
	href="http://www.punkmathematics.com/rubber-teardrop-nibbled-to-death-by-ducks" 
	title="2:54 am" 
	rel="bookmark">
	<time datetime="2011-04-14:2:54 am-08:00" pubdate="pubdate">Apr 14 2011</time>
</a>
</p>
