<table>
	<tr>
		<td>
<!-- design and engineering credits -->
design by Tom Henderson and Francis Storr <br />
powered by <a href="http://wordpress.org/" rel="generator">wordpress</a> and <a href="http://www.rubyonrails.org/">ruby on rails</a> <br />
hosting by <a href="http://tekbot.net/">Tekbot Networks</a> <br />
		</td>

		<td>
<!-- copyleft information -->
copyleft 2010&mdash;2011, Tom Henderson<br />
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a>
		</td>
	</tr>
</table>
