<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><a href="http://punkmathematics.com">News</a></li>
		</ul>
	</nav>
</footer>
<footer role="contentinfo">
Copyright 2010&ndash;2011<span><a href="http://tekbot.net/">Hosted by Tekbot Networks</a>, <a href="http://wordpress.org/" rel="generator">powered by WordPress</a></span>
</footer>
