<nav class="round">
<ul>
	<li class="current_page_item">
		<%= link_to "blog", "http://www.punkmathematics.com/" %>
	<li class="page_item page-item-5">
		<%= link_to "about", "http://www.punkmathematics.com/about" %>
	<li class="page_item page-item-80">
		<%= link_to "contact", "http://www.punkmathematics.com/contact" %>
	<li class="page_item page-item-21">
		<%= link_to "merch", "http://www.punkmathematics.com/merch" %>
</ul>
</nav>
